#DemoScroller_Container
{

	position: relative;
}

#DemoScroller_Content
{
	height: 392px;
	overflow: hidden;
	position: relative;
	float: center;

}

#DemoScroller_ScrollingArea
{
	position: absolute;
	width: 100%;
	text-align: left;
}

#DemoScroller_ScrollBar
{
	height: 392px;
	width: 13px;
	float: right;
	position: relative;
}

#DemoScroller_UpArrow
{
	height: 7px;
	cursor: pointer;

	text-align: center;
	position: relative;
}

#DemoScroller_GripperContainer
{
	height: 378px;
	position: relative;
	cursor: pointer;

	background-image: url('images/track_background.gif');
	background-repeat: repeat-y;
	background-position: top left;
}

#DemoScroller_Gripper
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 13px;
	height: 75px;
	cursor: pointer;

}

#DemoScroller_DownArrow
{
	height: 7px;
	cursor: pointer;

	text-align: center;
	position: relative;
}