


body
{
	background: #f9fcfe;
	color: #26466D;
	margin: 0;
	padding: 0;
}

body, td
{
	font: 13px "Lucida Grande" , "Lucida Sans Unicode" , Tahoma, Verdana, sans-serif;
}



form, label input
{
	margin: 0;
	padding: 0;
}

.img
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	margin-top: 0px;
	width: 173px;
	height: 154px;
}

input:focus, textarea:focus, label:focus
{
	background: #fff;
	border: 1px solid #686868;
}

label
{
	cursor: pointer;
}

li, dd
{
	margin-bottom: 6px;
}



textarea, input, select
{
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;
	margin-left: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
}

#uploading
{
	border-style: none;
	padding: 0;
	margin-bottom: 16px;
	height: 18em;
	width: 100%;
}

form#upload th
{
	text-align: right;
}

form#upload #post_content, form#upload #post_title
{
	width: 250px;
}

form#upload #post_content
{
	height: 50px;
}

.attpreview
{
	width: 1px; /* hug */
	text-align: center;
}

.alignleft
{
	float: left;
}

.alignright
{
	float: right;
}

.alternate
{
	background: #f1f1f1;
}

.anchors
{
	margin: 10px 20px 10px 20px;
}

.available-theme
{
	width: 30%;
	margin: 0 1em;
	float: left;
	text-align: center;
	height: 28em;
	overflow: hidden;
}

.available-theme a.screenshot
{
	width: 250px;
	height: 200px;
	display: block;
	margin: auto;
	background: #f1f1f1;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	overflow: hidden;
}

.available-theme a.screenshot:hover
{
	/*	border: 1px solid #666;*/
}

.available-theme img
{
	width: 100%;
}

.checkbox
{
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.code
{
	font-family: "Courier New" , Courier, monospace;
}

.commentlist li
{
	border-bottom: 1px solid #ccc;
	padding: 1em 1em .2em;
	margin: 0;
}

.commentlist li li
{
	border-bottom: 0px;
	padding: 0;
}

.commentlist p
{
	padding: 0;
	margin: 0 0 .8em;
}

.clear
{
	clear: both;
	height: 2px;
}

.hidden
{
	display: none;
}

.navigation
{
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.post-categories
{
	display: inline;
	margin: 0;
	padding: 0;
}

.post-categories li, #ed_toolbar
{
	display: inline;
}

.quicktags, .search
{
	background: #ccc;
	color: #000;
	font: 12px Georgia, "Times New Roman" , Times, serif;
}

.submit input, .submit input:focus, .button, .button:focus
{
	border-left: 3px double #ccc;
	border-right: 3px double #999;
	border-top: 3px double #ccc;
	border-bottom: 3px double #999;
	background: url( 'images/fade-butt.png' );
	color: #333;
	padding: 0.25em;
}

.submit input:active, .button:active
{
	background: #f4f4f4;
	border: 3px double #ccc;
	border-left-color: #999;
	border-top-color: #999;
}

.button, .button:focus
{
	padding: 0.15em;
}

* html .button
{
	padding: 0;
}

.submit, .editform th, #postcustomsubmit
{
	text-align: right;
}


table .vers
{
	text-align: center;
}

textarea.all-options, input.all-options
{
	width: 250px;
}

input.disabled, textarea.disabled
{
	background: #ccc;
}

#login
{
	position: relative;
	background: url( 'images/login-bkg-tile.gif' ) no-repeat center top;
	color: #fff;
	margin: 5em auto 1em;
	padding: 20px 0 0;
	width: 430px;
	_width: 390px;
}

#login form
{
	background: url( 'images/login-bkg-bottom.gif' ) no-repeat bottom center;
	padding: 0 50px 25px;
	_width: 325px;
	_margin: 0 auto;
	min-height: 200px;
	height: auto !important; /* min-height fast hack */
	height: 200px;
}

#login #login_error
{
	background: #0e3350;
	border: 1px solid #2571ab;
	color: #ebcd4e;
	font-size: 11px;
	font-weight: bold;
	padding: .6em;
	width: 310px;
	margin: 0 50px;
	text-align: center;
}

#login p
{
	font-size: 12px;
}

#login p.message
{
	width: 310px;
	margin: 0 auto 1em;
}

#login #login_error a
{
	color: #ebcd4e;
	border-color: #ebcd4e;
}

#login #send
{
	color: #fff;
	text-align: left;
	font-weight: normal;
	font-size: 1.1em;
	_width: 325px;
	_margin: 0 auto 15px;
}

#login h1 a
{
	margin: 0 auto;
	height: 88px;
	width: 320px;
	display: block;
	border-bottom: none;
	text-indent: -9999px;
}

#login .message
{
	font-size: 10pt;
	text-align: center;
}

#login .register
{
	font-size: 20px;
}

#login input
{
	padding: 4px;
}

.login ul, #protected #login .bottom
{
	list-style: none;
	width: 325px;
	margin: 0 auto;
	padding: 0;
	line-height: 1.2;
}

.login ul li
{
	font-size: 11px;
}

.login ul li a
{
	color: #0d324f;
	border: none;
}

#login ul li a:hover
{
	color: #fff;
}

#login .input
{
	font-size: 1.8em;
	margin-top: 3px;
	width: 97%;
}

#login p label
{
	font-size: 11px;
}

#login #submit
{
	margin: 0;
	font-size: 15px;
}

.plugins p
{
}

#login .fullwidth
{
	width: 320px;
}
#left
{
	display: table-cell;
	min-width: 160px;
}

#parent
{
	position: relative; /* decoration */
	width: 1074px;
	height: 383px; /*background-color: #ddd;*/
	top: 17px;
	left: 0px;
}

.child
{
	position: absolute; /*top: 20%;*/
	height: 305px; /* if text is one-line, line-height equal to height set text to the middle */
	/*line-height: 30px;*/ /* margin-top is negative 1/2 of height */
	margin-top: -35px; /* decoration */
	width: 567px;
	text-align: center;
	/*top: 20px;*/
	left: 603px;
	top: 54px;
}
​ .child_left
{
	left: 0;
}
.child_right
{
	right: -200px;
	top: 213px;
}
.child_mid
{
	left:904px;
}