﻿
#overlay img{ border: none; }
a:link
{
	color:#000000;
}

.overlayContent
{
	z-index:				91;
	background-color:		#FFFFFF;
	display:				none;
	position:				absolute;
	width:					500px;
	top:					50px;
	left:					50px;
	height:					400px;
	border:					solid 2px #000000;
	padding:				10px;
}

body
{
	background-color:		#666666;
	margin-left:			0px;
	margin-top:				0px;
	margin-right:			0px;
	margin-bottom:			0px;
}
table
{
	border-collapse:		collapse;
	border-spacing:			0;
}

table td
{
	vertical-align:			top;
	color:					black;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;
	padding:				0;
}

input, select, textarea {

	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	padding: 1px;
	margin: 1px;
}

.AdminMenu
{
}

.AdminMenu a
{
	color:					White;
}

.AdminMenuSelected
{
	font-weight:			bold;
}

.AdminMenuSelected a
{
	color:					#A0C696;
}

.FontSmall
{
	color:					black;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;
}

.FontBold
{
	color:					black;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;
	font-weight:			bold;
}

.FontSubMenu
{
	color:					black;
	font-family:			verdana,arial,sans serif;
	font-size:				10px;
	text-align:				right;
	padding-right:			10px;
}

.FontSubMenuCords
{
	color:					black;
	font-family:			verdana,arial,sans serif;
	font-size:				10px;
	padding-left:			10px;
}

.ContainerHeader
{
	background-image:		url(../../Images/header_bg.jpg);
	background-color:		#7f7e7f;/*#466f93;*/
	color:					#ffffff;
	font-weight:			bold;
	font-family:			verdana,arial,sans serif;
	font-size:				10px;
	padding:				2px 2px 2px 5px;
	border-right:			solid 1px #FFFFFF;
	border-left:			solid 1px #FFFFFF;
}

.ContainerHeaderIndex
{
	background-image:		url(../../Images/blue_index_bg.jpg);
	/*background-image:		url(../../Images/header_index_bg.jpg);*/
	background-color:		#466f93;/*#7f7e7f;*/
	color:					#ffffff;
	font-weight:			bold;
	font-family:			verdana,arial,sans serif;
	font-size:				12px;
	padding:				2px 2px 2px 5px;
	border:					solid 1px #FFFFFF;
}

.ContainerHeaderTabs
{
	background-image:		url(../../Images/header_bg.jpg);
	background-color:		#7f7e7f;/*#466f93;*/
	color:					White;
	font-weight:			bold;
	font-family:			verdana,arial,sans serif;
	font-size:				10px;
	padding:				0px 2px;
	border-right:			solid 1px #FFFFFF;
	border-left:			solid 1px #FFFFFF;
}

.ContainerHeaderTabLeftSel
{
	background-image:		url(../../Images/tabs/blueh_tab_left_sel_trans.png);
	behavior: url(images/iepngfix.htc);
	width:					4px;
	height:					20px;
}

.ContainerHeaderTabBgSel
{
	background-image:		url(../../Images/tabs/blueh_tab_bg_sel_trans.png);
	behavior: url(images/iepngfix.htc);
	height:					8px;/*20px;*/
	cursor:					pointer;
	line-height:			0px;
	padding:				12px 5px 0px 5px;
}

.ContainerHeaderTabRightSel
{
	background-image:		url(../../Images/tabs/blueh_tab_right_sel_trans.png);
	behavior: url(images/iepngfix.htc);
	width:					4px;
	height:					20px;
}

.ContainerHeaderTabRightXSel
{
	background-image:		url(../../Images/tabs/blueh_tab_right_x_sel_trans.png);
	behavior: url(images/iepngfix.htc);
	width:					10px;
	height:					20px;
}

.ContainerHeaderTabLeft
{
	background-image:		url(../../Images/tabs/blueh_tab_left_trans.png);
	behavior: url(images/iepngfix.htc);
	width:					4px;
	height:					20px;
}

.ContainerHeaderTabBg
{
	background-image:		url(../../Images/tabs/blueh_tab_bg_trans.png);
	behavior: url(images/iepngfix.htc);
	height:					8px; /*20px;*/
	cursor:					pointer;
	line-height:			0px;
	padding:				12px 5px 0px 5px;
	font-weight:			lighter;
}

.ContainerHeaderTabRight
{
	background-image:		url(../../Images/tabs/blueh_tab_right_trans.png);
	behavior: url(images/iepngfix.htc);
	width:					4px;
	height:					20px;
}

.ContainerHeaderTabRightX
{
	background-image:		url(../../Images/tabs/blueh_tab_right_x_trans.png);
	behavior: url(images/iepngfix.htc);
	width:					10px;
	height:					20px;
}

.ContainerHeaderSettings
{
	background-image:		url(../../Images/header_bg.jpg);
	background-color:		#7f7e7f;/*#466f93;*/
	color:					White;
	font-weight:			bold;
	font-family:			verdana,arial,sans serif;
	font-size:				10px;
	padding:				2px;
	border-right:			solid 1px #FFFFFF;
	border-top:				solid 1px #FFFFFF;
	border-left:			solid 1px #FFFFFF;
}

.ContainerHeaderSettingsInside
{
	background-image:		url(../../Images/header_bg.jpg);
	background-color:		#7f7e7f;/*#466f93;*/
	color:					White;
	font-weight:			bold;
	font-family:			verdana,arial,sans serif;
	font-size:				10px;
	padding:				2px;
	border-top:				solid 1px #FFFFFF;
}

.ContainerBody
{
	background-color:		#B4BBBF;
	color:					black;
	font-family:			verdana,arial,sans serif;
	font-size:				10px;
	margin:					0px;
	border:					solid 1px #FFFFFF;
	padding:				0px;
}

.ContainerHeader td
{
	color:					White;
	font-weight:			bold;
}

.ContainerHeader a:Hover
{
	text-decoration:		none;
}

.ContainerHeader a
{
	color:					White;
}

.HeaderItemStyle
{
	color:					black;
	font-weight:			bold;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;

}

.HeaderItemStyle a
{
	color:					black;
}

.ItemStyle
{
	background-color:		#F9F9F9;
	color:					black;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;
}

.ItemStyle td
{
	padding:				2px;
}

.ItemStyle a
{
	color:					Black;
}


.AlternatingItemStyle
{
	background-color:		#F1F1F1;
	color:					black;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;
}

.AlternatingItemStyle td
{
	padding:				2px;
}

.AlternatingItemStyle a
{
	color:					black;
}

.UserDetailsHeader
{
	width:					100%;
	border-bottom:			solid 1px black;
	font-weight:			bold;
	color:					White;
	background:				#466f93
}

.UserDetailsHeader a
{
	color:					White;
}

.SelectedStyle
{
	width:					100%;
	background-color:		#A0C696;
	font-weight:			bold;
	color:					Black;
}

.SelectedStyle td
{
	padding:				2px;
}

.SelectedStyle a
{
	font-weight:			bold;
	color:					Black;
}

.menu-control
{
	background:				#395976;
	background-image:		url(../../Images/blue_menu_bg.jpg);
	margin:					0px;
	border-bottom:			solid 1px #FFFFFF;
}

.submenu-control
{
	margin:					0px;
	border-bottom:			solid 1px #FFFFFF;
	background:				#dcdcdc;/*#b4bbbf;*/
}

.Tab
{
	/*background:			#395976;*/
	color:					White;
	font-family:			verdana,arial,sans serif;
	font-weight:			bold;
	font-size:				10px;
	padding:				2px 10px;
}

.Tab:hover
{
	background:				#466f93;
	color:					White;
	font-family:			verdana,arial,sans serif;
	font-weight:			bold;
	font-size:				10px;
	padding:				2px 10px;
}

.Tab a
{
	color:					White;
}

.TabSelected
{
	background:				#283f54;
	color:					White;
	font-family:			verdana,arial,sans serif;
	font-weight:			bold;
	font-size:				10px;
	padding:				2px 10px;
}

.TabSelected:hover
{
	background:				#466f93;
	color:					White;
	font-family:			verdana,arial,sans serif;
	font-weight:			bold;
	font-size:				10px;
	padding:				2px 10px;
}

.TabSelected a
{
	color:					White;
}

.FormViewItem
{
	background-color:		#F9F9F9;
	color:					black;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;

}


.FormViewItem a
{
	color:					Black;
}


.FormViewItem tbody td
{
	padding:				2px;
}

.WizardItemStyle
{
	background-color:		#F9F9F9;
	color:					black;
	font-family:			verdana,arial,sans serif;
	font-size:				11px;
}

.WizardItemStyle a
{
	color:					Black;
}

.WizardHeaderStyle
{
	background-color:		#FFFFFF;/*#A0C696;*/
	font-weight:			bold;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;
	padding:				5px;
	height:					20px;


}

.WizardHeaderStyle a
{
	color:					Black;
}

.Menue
{
	border:					solid 1px black;
	color:					black;
	font-family:			verdana,arial,sans serif;
	line-height:			16px;
	font-size:				10px;
	position:				absolute;
	z-index:				300;
	display:				none;
	padding:				2px 2px 2px 2px;
	background:				white;
	filter:					alpha(Opacity=75);
	opacity:				.75;
}

.Menue a
{
	color:					black;
	font-weight:			bold;
}

.Menue a:Hover
{
	background-color:		#D1E8EA;
	text-decoration:		none;
}

.InfoControl td
{
	white-space:			nowrap;
}

.LoginWindow{
	margin-left:			auto;
	margin-right:			auto;
	width:					300px;
	border-collapse:		collapse;
    border-spacing:			0;
    background-color:		#466f93;
}

.DeleteIcon
{
	background-image:		url('../../images/remove_icon.gif');
	width:					12px;
	height:					12px;
	cursor:					pointer;
	background-repeat:		no-repeat;
	margin-top:				3px;
}


.OnlineIcon
{
	background-image:		url('../../images/icons/green.gif');
	width:					16px;
	height:					16px;
	background-repeat:		no-repeat;
}
.PendingIcon
{
	background-image:		url('../../images/icons/yellow.gif');
	width:					16px;
	height:					16px;
	background-repeat:		no-repeat;
}
.OfflineIcon
{
	background-image:		url('../../images/icons/red.gif');
	width:					16px;
	height:					16px;
	background-repeat:		no-repeat;
}
.NeverSeenIcon
{
	background-image:		url('../../images/icons/gray.gif');
	width:					16px;
	height:					16px;
	background-repeat:		no-repeat;
}

/* actual background-color is set programatically */
.UserColorIndicatorIcon
{
	width: 		5px;
	height: 	5px;
	margin-top: 6px;
	font-size: 	1px;
}


/* deprecated(?) */
.tabSettingsSelected
{
	background-color:		#f9f9f9;
	border-top:				solid 1px #000000;
	border-left:			solid 1px #000000;
	border-right:			solid 1px #000000;
	border-bottom:			solid 1px #f9f9f9;
	width:					10px;
	padding:				0px 5px 0px 0px;
	white-space:			nowrap;
	overflow:				visible;

}

.contentHidden
{
	/*visibility:				hidden;*/
	display:				none;
}

.contentDisplay
{
	visibility:				visible;
	display:				block;
}

.tabSettingsUnselected
{
	border:					solid 1px #000000;
	background-color:		#999999;
	width:					10px;
	padding:				0px 5px 0px 0px;
	white-space:			nowrap;
	overflow:				visible;
}

.deviceTbl
{
	margin:					0px;
	padding:				0px;
	border-collapse:		collapse;
}
.deviceTblOdd
{
	background-color:		#f9f9f9;
	white-space:			nowrap;
	padding:				0px 20px 0px 0px;
}
.deviceTblEven
{
	background-color:		#e5e5e5;
	white-space:			nowrap;
	padding:				0px 20px 0px 0px;
}


/* Custom Map CSS */

.zoomControl
{
	top: 0px;
	left:0px;
	background-Color: #000000;
	filter: alpha(Opacity=72);
	opacity: .72;
	padding:3px;
}

.zoomControl #zoomIn
{
	width:35px;
	height:35px;
	background-image:url(../../images/mapcontrol/custom_map_zin.gif);
	margin-bottom:5px;

}

.zoomControl #zoomOut
{
	width:35px;
	height:35px;
	background-image:url(../../images/mapcontrol/custom_map_zout.gif);
}

/* Styles Accordion control */

.AccordionStep
{
	width:100%;
	margin:0px;
	padding:0px;
	border-collapse:collapse;
	background-image:url(../../WebControls/Images/EventRuleSetup/bg.jpg);
	height:29px;
}

.AccordionStepError
{
	width:100%;
	margin:0px;
	padding:0px;
	border-collapse:collapse;
	background-image:url(../../webcontrols/Images/EventRuleSetup/bg_red.jpg);
	height:29px;
}

.AccordionStepWarn
{
	width:100%;
	margin:0px;
	padding:0px;
	border-collapse:collapse;
	background-image:url(../../webcontrols/Images/EventRuleSetup/bg_yellow.jpg);
	height:29px;
}

.accordion-panel-txt {
	font-size:10px;
	font-weight:bold;
	color: #FFF;
	line-height:20px;
	}

.accordion-col-txt {
	font-size:14px;
	color:#385976;
	line-height:20px;
	padding: 2px 0px;
	text-decoration: none;
	}

.accordion-col-txt-bold {
	font-size:14px;
	font-weight:bold;
	color:#385976;
	line-height:20px;
	padding: 2px 0px;
	}

.accordion-col-txt-inactive {
	font-size:14px;
	color:#acacac;
	line-height:20px;
	padding: 2px 0px;
	}

.accordion-col-txt-cont {
	font-size:10px;
	color:#385976;
	line-height:20px;
	padding: 2px 0px;
	}

.accordion-col-bottom {
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	height:1px;
	width:100%;
	background-color: #CFCFCF;
	}

.accordion-note-field {
	width:100%;
	margin:0px;
	padding:0px;
	text-indent: 20px;
	border-collapse:collapse;
	background-color: #a9a9a9;
	background-image:url(../../webcontrols/Images/EventRuleSetup/bg_note.jpg);
	background-position:top;
	background-repeat:repeat-x;
	}

.accordion-note-txt {
	color:#FFF;
	font-size:10px;
	line-height:18px;
	}

.accordion-varning-icon {
	vertical-align:bottom;
	padding: 1px 10px;
	}

.accordion-value-td {
	width: 120px;
	vertical-align:top;
}

.accordion-arrow-img {
    border: none;
    padding: 0px 5px 0px 0px;
}

/* Event Control Styles */

.EventExpressionRow {
	background: #f1f1f1;
}

.AltEventExpressionRow {
	background: #e7e7e7;
	margin-top: 1px;
}

.EventExpressionRowPadding
{
}
	
.WizardContent
{
	white-space:nowrap;
	padding:2px;
}

/* Context Menu */

div.contextMenu ul
{
	margin: 0;
	position: absolute;
	list-style: none;
	display: none;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	padding: 2px;
	border: 1px solid #3f3f3f;
	background: #fff url(../../../CommonScripts/mocha-ui/themes/vt_default/images/bg-dropdown.gif) repeat-y;
	width: 184px;
	z-index: 8000;
	line-height: 16px;
}

div.contextMenu a
{
	display: block;
	outline: none;
}

div.contextMenu ul li a {
	text-decoration: none;
	position: relative;
	padding: 1px 9px 1px 25px;
	width: 150px;
	color: #3f3f3f;
	font-weight: normal;
}

div.contextMenu ul li a:hover {
	text-decoration: none;
	background: #666;
	color: #fff;
	-moz-border-radius: 2px;
}

div.contextMenu ul li a.arrow-right,
div.contextMenu ul li a:hover.arrow-right {
	background-image: url(../../../CommonScripts/mocha-ui/themes/vt_default/images/arrow-right.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

div.contextMenu li ul {
	margin: -20px 0 0 183px;
}

div.contextMenu li .tick_check {
	background: url(../../../CommonScripts/mocha-ui/themes/vt_default/images/checked_icon.gif) 3px center no-repeat;
}

div.contextMenu li .radio {
	background: url(../../../CommonScripts/mocha-ui/themes/vt_default/images/radio_icon.gif) 5px center no-repeat;
}

div.contextMenu li:hover {
    position: static;
}

li.divider {
	margin-top: 2px;
	padding-top: 3px;
	border-top: 1px solid #ebebeb;
}

/* HACK to remove SiteAdmin styles of reused control */
fieldset {
	border: none;
	padding:0;
	margin:0;
}

legend {
	display:none;
}

.divRowDivider {
	/*border-bottom: dotted thin #999;*/
	/*padding: 5px 0 8px 0;*/
	overflow:hidden;
}

.divColLeft {
	float:left;
	white-space:normal;
	/*margin-right:10px;*/
	width:150px;
}

.divColRight {
	float:left;
}

.label {
	font-weight:bold;
}
/* end hack to remove SiteAdmin styles of reused control */




/* Context specific help icon */
.ContextHelp
{
    background: url(../../Images/help_icon.png) top left no-repeat;
    width: 16px;
    height: 16px;
	cursor: help;
}

.right {
    float: right;
}
