/*

Tabs.css for Mocha UI

Theme: Default

Copyright:
	Copyright (c) 2007-2009 Greg Houston, <http://greghoustondesign.com/>.
	
License:
	MIT-style license.

Required by:
	Tabs.js
 
*/

/* Toolbar Tabs */

.toolbarTabs {	
	padding: 0 5px 0 2px;
	background: url(../Images/tabs.gif) repeat-x;
	background-position: left -42px; /* original -70px */
	overflow: visible;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
}

.tab-menu {	
	padding-top: 1px;
	list-style:	none;
	margin: 0;
	padding: 0;
	line-height: 12px;
	font-size: 11px;
}

.tab-menu li {
	display: block;
	float: left;
	margin:	0 0 0 0;
	cursor: pointer;	
	background: url(../Images/tabs.gif) repeat-x;
	background-position: left -21px; /* original -35px */
}

.tab-menu li.selected {
	background: url(../Images/tabs.gif) repeat-x;
	background-position: left 0;
}

.tab-menu li a {
	display: block;
	margin-left: 8px;
	padding: 6px 15px 2px 9px;
	text-align: center;
	font-weight: normal;
	color: #181818;
	background: url(../Images/tabs.gif) repeat-x;
	background-position: right -21px;	/* original -35px */
}

.tab-menu li.selected a {
	color: #181818;
	font-weight: bold;	
	background: url(../Images/tabs.gif) repeat-x;
	background-position: right 0;
}
