﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Escalation_matrix .aspx.cs"
    Inherits="Tracking.Escalation_matrix" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Escalation_matrix</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="width: 100%; height: auto; text-align: center; background-color:#B1D7EE; font-style: italic; color: Blue;">
        <div>
            <asp:Image ID="Image1" runat="server" Width="1000px" ImageAlign="Middle" />
        </div>
    </div>
    </form>
</body>
</html>
