﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="History.aspx.cs" Inherits="Tracking.History" %>

<%@ Register Assembly="GMaps" Namespace="Subgurim.Controles" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="refresh" content="60">  
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div><asp:ScriptManager ID="scriptmanager" runat="server">
    </asp:ScriptManager>
   
End Location: <asp:TextBox ID="tb_endPoint" runat="server"></asp:TextBox>
<input type="button" id="bt_Go" value="Come on!" />

<cc1:GMap ID="GMap1" runat="server"  Height="500px" Width="700px"/>
<asp:Button ID="button1" runat="server" OnClick="Button1_Click" />
        <asp:Timer ID="Timer1"  Interval="10000"  
    runat="server" ontick="Timer1_Tick">
        </asp:Timer>
<div id="div1"></div> 
       
    </div>
   
    </form>
</body>
</html>
