﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Manager_geo.master.cs" Inherits="Tracking.Manager_geo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>ESL Device Tracking</title>
    <link rel="SHORTCUT ICON" href="Images/favicon.ico" />
    <link rel="stylesheet" href="CSS/login.css" type="text/css" />   
    <link href="CSS/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: Gray;">
    <form id="form1" runat="server">
    <table width="100%" style="width: 100%; height: auto; margin: 0; padding: 0; border-spacing: 0px 0px;">
        <tr valign="top">
            <td>
                <div style="width: 100%; margin: 0 auto; padding: 0; background: #fff; height: auto;
                    border-spacing: 0px 0px;">
                    <div style="float: left; width: 100%; margin: 0; padding: 0; background: #fff; border-spacing: 0px 0px;">
                        <table border="0" cellspacing="1" cellpadding="2" width="100%" style="height: 50px;
                            border-spacing: 0px 0px;">
                            <tr>
                                <td style="background-color: #213258; width: 1%; height: 50px;">
                                </td>
                                <td style="background-color: #213258; border-color: #213258;">
                                    <asp:Image ID="Image1" runat="server" Height="65px" Width="60px" BorderColor="#213258" />
                                </td>
                                <td style="background-color: #213258; width: 100%; border-color: #008000;" valign="top">
                                    <table style="width: 100%; font-family: Arial; height: 50px;">
                                        <tr>
                                            <td style="font-size: 16px; text-align: right; font-weight: bold; color: White; height: 20px;
                                                font-family: Verdana;">
                                                <asp:Label ID="lblhead" runat="server" Text="Empowered Security Labs Pvt Limited"></asp:Label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 10px; text-align: right; color: White; font-family: Verdana;">
                                                Version 1.01&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 12px; text-align: right; color: White; font-family: Verdana;">
                                                Logged in as :<asp:Label ID="lblusername" runat="server" Font-Bold="true"></asp:Label>&nbsp;&nbsp;&nbsp;&nbsp;Application
                                                : Vehicle Track&nbsp;<asp:Label ID="lbldate" runat="server" Font-Bold="true"></asp:Label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td  colspan="3" style="background-color: Olive; height: 35px; text-align:right;"">
                                    <asp:Button ID="BtnHome" runat="server"  Font-Bold="true"  Font-Size="Medium" 
                                        Font-Italic="true" Text="Back to Mainpage" ForeColor="White" CssClass="button"
                                        BackColor="Blue" onclick="BtnHome_Click"  Width="170px" Height="34px" />
                                </td>
                            </tr>
                        </table>                   
                        <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="width: 100%; height: 100%; border-spacing: 0px 0px; color:Black;">
                                    <div style="width: 100%; border-spacing: 0px 0px;">
                                        <asp:ContentPlaceHolder ID="MainContent" runat="server">
                                        </asp:ContentPlaceHolder>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="height: 51px; background: #173658; border-spacing: 0px 0px;">
                            <div style="text-align: center; color: White; font-family: Arial; height: 20px;">
                            </div>
                            <div style="text-align: center; color: White; font-family: Arial; height: 20px;">
                                Copyright (c) 2011. All rights reserved.
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
